body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    background: white;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1 {
    font-size: 24px;
    display: flex;
    align-items: center;
}

main {
    padding: 0 2rem;
}

main > * + * {
    margin-top: 2rem;
}

#recordings {
    min-height: 200px;
}

#recordings audio {
    width: 100%;
}

#recordings > audio + audio {
    margin-top: 1rem;
}

.is-disabled {
    pointer-events: none;
}
